$yellow : #e2e266;

.meal {
  background: $yellow;
  border: 3px solid black;
  padding: 40px 80px;
  .button {
    font-weight: bold;
    text-align: center;
    background: black;
    color: $yellow;
  }
}

.Jumbotron {
  background: black;
  border: 3px solid $yellow;
  text-align: center;
  color: $yellow;
  text-decoration: underline;
}
